@model VerIDial.Workshop.Models.MessageModel    
@{
    ViewBag.Title = "Failure";
}
<h1 class="error">Failure</h1>
<h2 class="error">Oh noes, something went wrong!</h2>
<p><strong>@Model.Message</strong></p>
